/* 👇 1) dile a Tailwind dónde está tu JS config (desde /src/app/) */
@config "../../tailwind.config.mjs";

/* 👇 2) importa Tailwind */
@import "tailwindcss";


@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-5px); }
  to { opacity: 1; transform: translateY(0); }
}

@keyframes fadeInScale {
  from { 
    opacity: 0; 
    transform: translateY(-20px) scale(0.95); 
  }
  to { 
    opacity: 1; 
    transform: translateY(0) scale(1); 
  }
}

.animate-fadeIn {
  animation: fadeIn 0.5s ease-out forwards;
}

/* (si tienes reglas extra, ponlas después…) */